#showPopup {
	position: absolute;
	bottom:10px;
	right:10px;
	width:50px;
	height: 50px;
	cursor: pointer;
}
#popup-snm {
	visibility: hidden;
	font-weight:400;
}
#popup-snm a {
	color:#FFF;
	text-decoration: none;
}
#popback-snm {
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right: 0;
	width:100%;
	height:100%;
	display: flex;
	justify-content: center;
	align-items:center;
	background-color:rgba(22, 22, 22, 0.90);
	z-index:10001;
	cursor: pointer;
}
#popmain-snm {
	flex:none;
	width:75%;
	max-width: 100%;
}
#popheader-snm {
	height: 70px;
	position:relative;
	border-bottom:solid 1px #FFFFFF;
}
#popheader-snm #closepopup {
	position: absolute;
	top:10px;
	right: 10px;
	width:50px;
	height: 50px;
	cursor: pointer;
}
#popheader-snm #stdrlogo {
	position: absolute;
	top:10px;
	left:10px;
	width:157px;
	height:50px;
}