<ul id="mediaintrolist">
	<li>
		<a class="tooltip" title="Instagram" href="https://www.instagram.com/legasimkt" target="_blank" rel="noopener noreferrer">
			<svg class="snm-icon" width="20" height="20" ><use xlink:href="#instagramsvg"></use></svg>
			<span class="tooltiptext">Instagram</span>
		</a>
	</li>
	<li>
		<a class="tooltip" title="YouTube Channel" href="#">
			<svg class="snm-icon" width="28" height="20" ><use xlink:href="#youtubesvg"></use></svg>
			<span class="tooltiptext">YouTube Channel</span>
		</a>
	</li>
	<li>
		<a class="tooltip" title="LEGASI" href="http://fb.me/legascy" target="_blank" rel="noopener noreferrer">
			<svg class="snm-icon" width="20" height="20" ><use xlink:href="#fcbksvg"></use></svg>
			<span class="tooltiptext">LEGASI</span>
		</a>
	</li>
	<li>
		<a class="tooltip" title="contacto@legasi.mx" href="mailto:contacto@legasi.mx">
			<svg class="snm-icon" width="28" height="20" ><use xlink:href="#contactsvg"></use></svg>
			<span class="tooltiptext">contacto@legasi.mx</span>
		</a>
	</li>
	<!-- <li>
		<a class="tooltip" title="55 xx.xx.xx.xx" href="#" target="_blank" rel="noopener noreferrer">
			<svg class="snm-icon" width="20" height="20" ><use xlink:href="#phonesvg"></use></svg>
			<span class="tooltiptext">55.xx.xx.xx.xx</span>
		</a>
	</li> 
	<li>
		<a id="introaccess" class="tooltip" title="Ingresar" href="#">
			<svg class="snm-icon" width="20" height="20" ><use xlink:href="#accesssvg"></use></svg>
			<span class="tooltiptext">Ingresar</span>
		</a>
	</li>-->
</ul>