{% comment %}
	FisioChat AppId: 1314828318653827
	FisioChat PageId: 1418198854928474
	Fisiotleta messenger link: m.me/fisiotleta 
{% endcomment %}
<!-- En page <body> -->
<div id="fb-root"></div>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="1418198854928474"
  logged_in_greeting="Hola ¿Te podemos ayudar?"
  logged_out_greeting="Hola ¿Te podemos ayudar?">
</div>