<ul class="tooltip-hor-menu">
	<li>
		<a class="tooltip" title="Instagram" href="https://www.instagram.com/fisiotleta" target="_blank" rel="noopener noreferrer">
			<svg class="snm-icon" width="30" height="30" ><use xlink:href="#instagramsvg"></use></svg>
			<span class="tooltiptext">Instagram</span>
		</a>
	</li>
	<li>
		<a class="tooltip" title="YouTube Channel" href="#">
			<svg class="snm-icon" width="42" height="30" ><use xlink:href="#youtubesvg"></use></svg>
			<span class="tooltiptext">YouTube Channel</span>
		</a>
	</li>
	<li>
		<a class="tooltip" title="Fisiotleta" href="http://fb.me/fisiotleta" target="_blank" rel="noopener noreferrer">
			<svg class="snm-icon" width="30" height="30" ><use xlink:href="#fcbksvg"></use></svg>
			<span class="tooltiptext">Fisiotleta</span>
		</a>
	</li>
	<li>
		<a class="tooltip" title="contacto@fisiotleta.com" href="mailto:contacto@fisiotleta.com">
			<svg class="snm-icon" width="42" height="30" ><use xlink:href="#contactsvg"></use></svg>
			<span class="tooltiptext">contacto@fisiotleta.com</span>
		</a>
	</li>
	<li>
		<a class="tooltip" title="Fisiotleta en Pinterest" href="https://www.pinterest.com.mx/fisiotleta" target="_blank" rel="noopener noreferrer">
			<svg class="snm-icon" width="30" height="30" ><use xlink:href="#pinterestsvg"></use></svg>
			<span class="tooltiptext">Fisiotleta en Pinterest</span>
		</a>
	</li> 
	<li>
		<a class="tooltip" title="55 35.07.03.27" href="https://wa.me/5215535070327" target="_blank" rel="noopener noreferrer">
			<svg class="snm-icon" width="30" height="30" ><use xlink:href="#whatsappsvg"></use></svg>
			<span class="tooltiptext">55 35.07.03.27</span>
		</a>
	</li> 
	<!--li>
		<a id="introaccess" class="tooltip" title="Ingresar" href="#">
			<svg class="snm-icon" width="20" height="20" ><use xlink:href="#accesssvg"></use></svg>
			<span class="tooltiptext">Ingresar</span>
		</a>
	</li>-->
</ul>