{% comment %}
    Snippet que incluye el código para el fisio-contact-widget
    <a href="https://m.me/fisiotleta">{% include 'icon-fisio-messenger' %}</a>
{% endcomment %}
<div class="fisio-contact-wrapper">
	<!-- href="https://api.whatsapp.com/send?phone=5215535070327" -->
	<!-- href="https://web.whatsapp.com/send?phone=5215535070327" -->
	<!-- href="https://wa.me/5215535070327" -->
	<a data-id="whatsapp-link" href="https://wa.me/5215535070327" target="_blank" rel="noopener noreferrer">{% include 'icon-fisio-whatsapp' %}</a>
	<a href="tel:5215535070327">{% include 'icon-fisio-phone' %}</a>
	<a href="https://g.page/fisiotleta?share" target="_blank" rel="noopener noreferrer">{% include 'icon-fisio-location' %}</a>
	<a href="/pages/faqs">{% include 'icon-fisio-faqs' %}</a>
	{% include 'icon-fisio-widget' %}
</div>