.collection-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 70px 320px 320px;
	grid-gap: 10px;
	justify-items: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0);
}

.collection-list-item {

}

.collection-list__image {
	min-width: 320px;
}

.collection-list__title {
	grid-column: 1 / 4;
	font-size:40px;
	font-weight:bold;
}
@media screen and (max-width: 959px) {
	.collection-list {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 100px 320px 320px;
		grid-gap: 10px;
		justify-items: center;
		align-items: center;
		background-color: rgba(255, 255, 255, 0);
	}
}