.featured-collection {
  	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px 320px 320px 320px;
	grid-gap: 10px;
	justify-items: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0);
}

.featured-collection-item {
  
}

.featured-collection__image {
  min-width: 320px;
}

.featured-collection__title {
  	grid-column: 1 / 4;
	font-size:40px;
	font-weight:bold;
}
