#fisioblogemovi {
/*
#legasi-blog .tit_full a:hover {
	color: #434855;
	text-decoration: none;
}
#legasi-blog .tit_full {
	margin:0;
}
#legasi-blog .tit_full a {
	color:#bebebe;
	text-decoration:none;
}
#legasi-blog .blogcontainer {
	padding:20px;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-gap:20px;
}
#legasi-blog .publicadoen {
	margin-top:0;
	margin-bottom:10px;
	font-size:14px;
}
#legasi-blog .commentsandtags {
	list-style:none;
	padding:0;
	font-size:14px;
	margin:10px 0;
}
@media screen and (min-width: 414px) and (max-width: 767px) {
	#legasi-blog .blogcontainer {
		grid-template-columns:1fr 1fr;
		grid-gap:20px;
	}
}
@media screen and (max-width: 413px) {
	#legasi-blog .blogcontainer {
		grid-template-columns:1fr;
		grid-gap:20px;
	}
}
*/
	margin-top: 150px;
	padding:0;
	color:#FFFFFF;
}
#fisioblog .section-header{
	margin-bottom: 10px;
	color:#FFFFFF;
}
#fisioblogemovi hr {
	border-top: solid #FF804E;
}
#fisioblogemovi .wrapper {
	max-width: 100%;
	padding: 0 30px;
}
#fisioblogemovi .grid__item,
#fisioblogemovi .grid {
	position:static;
	margin:0;
	padding:30px 0px;
	width:100%;
}
#fisioblogemovi article {
	padding:30px !important;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	box-shadow: 3px 3px 8px -4px #000000;
	background-color:#F0F5F8;
	background-color: rgba(0, 18, 118, 0.90);
	border:solid 1px #000030;
}
#fisioblogemovi article > div {
	flex: 1;
}
#fisioblogemovi article > div + div {
	padding-left: 30px !important;
}
#fisioblogemovi article h2.h3 {
	color:#FFFFFF !important;
	border-bottom: 2px solid #FF804E;
}
#fisioblogemovi .rss-link,
#fisioblogemovi .section-header a {
	color:#FF804E;
}
#fisioblogemovi article h2.h3 > a {
	color:#FFFFFF;
}
#fisioblogemovi article h2.h3 > a:hover,
#fisioblogemovi .section-header a:hover,
#fisioblogemovi .text-link:hover {
	color:#00ff00;
}
/*****  paginas emovi.liquid */
#promo-maiil-01 {
	font-size: 30px;
	text-align: center;
	color: #002DA5;
}
/* Entra si el dispositivo o ventana es mayor o igual a 768 y menor a 992 (Bootstrap sm)*/
@media screen and (min-width: 768px) and (max-width:991px) {
	#fisioblogemovi .wrapper {
		max-width: 100%;
		padding:0;
	}
	#fisioblogemovi article {
		padding:15px !important;
	}
}
@media screen and (max-width: 767px) {
	#fisioblogemovi .wrapper {
		max-width: 100%;
		padding:0;
	}
	#fisioblogemovi article {
		padding:0px !important;
	}
	#fisioblogemovi article {
		flex-direction: column-reverse;
	}
	#fisioblogemovi article > div + div {
		padding-left:0px !important;
	}
}